


/* ------------
   header part
   ---------------- */
.first-part{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height:400px;
    padding-top: 100px;
    background-color:rgb(93, 22, 207) ;
    color:white;
    font-family: poppins;
    font-size: larger;

    

}
.first-part:hover{
    background-color: cornflowerblue;
    color:darkblue;
    border-radius: 30px;
}
.one img{
    Width :100%;
    Height:300px;
 
}
.button{
    text-decoration: none;
    width:168px;
    height: 44px;
    padding:5px;
    background-color:#E02C6D ;
    color:whitesmoke;
}
.fa-arrow-right{
    color:whitesmoke
}


/* -------
    Main Part
------------- */
main .players{
    margin-left: 300px;
    /* padding-left: 300px; */
    padding-right: 200px;
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-column-gap: 20px;
    background-color: white;
}
h3{
    padding-left: 5px;
}
p{
    padding-left: 5px;
}
main .players img{
    padding-left: 5px;
    padding-top: 5px;
    width:96%;
}
.player{
    
    margin:48px 0px 0px 50px;
    width:210px;
    height:300px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px whitesmoke;

    background-color: white;
}


/*----------------
 Extra-part 
 ---------------------*/
 .other{
     margin:100px;
     padding-left: 80px;
     border: 5px solid white;
     box-shadow: 10px 10px 10px gray;
     display: flex;
 }
.other-one{
    margin:5px;
}



/* ------------
Other-Extra-part
----------------- */

.Extra{
    display: flex;
    
}
.field p{
   font-size: xx-large;
   font-weight: bolder;
   color:darkblue;
}
.written{
    padding-top: 100px;

}
.written h2{
    font-size:xx-large;
    color:rgb(8, 8, 117);
}
.written li{
    font-size: larger;
    font-weight: 700;
    color:rgb(112, 10, 69);
}

.field{
    width:100%;
    height:500px;
    background-color: white;
    
    transition: transform 0.2s ease-in;
}
.field:hover .bat{
    transform: rotate(-60deg);
    /* transform-origin:top right ; */

}
.field:hover .ball{
    transform: translate(700px);
}
.bat{

       transition: transform 0.2s ease;
}
.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    position: relative;
    left:370px;
    top:-90px;
    transition: transform 5s ease-out 0.2s;
}


/* ---------
Footer part
------------- */
.last{
    margin-top: 100px;
    padding-left:500px;
    width:480px;
    height:213px;
}
.logo{
    width:75%;
}
.font-awesome{
    padding-left: 170px;
}
.last p{
    padding-left:120px;
}

/* For mobile device */
@media only screen and (max-width:600px)  {
    .first-part{
     
        width:100%;
        padding-left: 5px;
        
    }
    
     main>.players{
    
        grid-template-columns:1fr 1fr;
    }
    main>.players>.player{
        margin-left: 0px;
        margin-right:0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .other{
        box-shadow: none;
        margin:20px;
        padding-left: 20px;
        flex-direction: column;
        
    }
    .Extra{
        
        flex-direction: column;
        width:40%;
       
    }
    .Extra>.written{
        padding-left: 50px;
        
    }
    
     .footer-part>.last{
        padding-left:50px;
        width:60%;
        
     }
     .footer-part>.last>.font-awesome{
         padding-left: 80px;
     }
     .footer-part>.last>p{
         padding-left: 50px;
     }
    
    
}

/* for ipad */


@media only screen and (min-width:688px) and (max-width:992px){
    .first-part{
        white-space:wrap;
        width:56%;
        margin:2px;
       
    }
    
     main>.players{
         margin:0px;
         padding:0px;
        grid-template-columns:1fr;
    }
    
    .other{
        box-shadow: none;
        margin:0px;
        padding-left: 0px;
        flex-direction: column;
        
    }
    
    .Extra{
        flex-direction: column;
        width:40%;
       
    }
    
     .footer-part>.last{
        padding-left:0px;
        width:40%;
        
     }
}