.first-part{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    height:400px;
    padding-top: 100px;
    background-color:rgb(93, 22, 207) ;
    color:white;
    font-family: poppins;
    font-size: larger;

    

}
.first-part:hover{
    background-color: cornflowerblue;
    color:darkblue;
    border-radius: 30px;
}
.one img{
    /* width:100%;
    height:200px; */
    Width :100%;
    Height:300px;
 
}
.button{
    text-decoration: none;
    width:168px;
    height: 44px;
    padding:5px;
    background-color:#E02C6D ;
    color:whitesmoke;
}
.fa-arrow-right{
    color:whitesmoke
}